* {
    margin: 0;
    padding: 0;
}
.all{
    background-color: pink;
    padding-bottom: 45px;
    height: 100;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.bottom{
    width: 100%;
}
.sidebar{
    width: 20%;
    float: left;
}
.sidebarText{
    padding-top: 40px;
    font-family: 'Allan';
    font-size: 35px;
    padding-left: 20px;
    color: rgb(207, 34, 34);
}
.canvasArea{
    width: 80%;
    float: left;
}

script {display:none;}